configure
*.lo
*.la
*.so
*.o
ltmain.sh
.deps/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
libtool
libytnef.spec
missing
stamp-h1

